build/
*.~lock.*
app/output/props/*
tempZipDir
node_modules/**
~$*.xlsx
.idea/*
app/config/assets/csv/MIF.init100.csv
app/config/assets/csv/MIF.init15000.csv
app/config/assets/csv/MIF.init2000.csv
app/config/assets/csv/MIF.initOio.csv
app/config/assets/csv/MIF.initTotal.csv
app/config/assets/csv/MIF.init10.csv
app/config/assets/csv/MIF.initOio1213.csv
app/config/assets/csv/MIFVISIT_CORE.initOio1213.csv
