build/
*.~lock.*
app/output/props/*
tempZipDir
node_modules/**
~$*.xlsx
.idea/*
app/config/assets/csv/MIF.init100.csv
app/config/assets/csv/MIF.init15000.csv
app/config/assets/csv/MIF.init2000.csv
app/config/assets/csv/MIF.initOio.csv
app/config/assets/csv/MIF.initTotal.csv
app/config/assets/csv/MIF.init10.csv
app/config/assets/csv/MIF.initOio1213.csv
app/config/assets/csv/MIFVISIT_CORE.initOio1213.csv
app/config/assets/csv/MIF.initOio14.csv
app/config/tables/MIF/forms/MIF/~$MIF.xlsx
app/config/tables/MIF/forms/MIFVISIT/~$MIFVISIT.xlsx
app/config/tables/MIFGRAVIDA/forms/MIFGRAVIDA/~$MIFGRAVIDA.xlsx
app/config/tables/MIFGRAVIDA_VISIT/forms/MIFGRAVIDA_VISIT/~$MIFGRAVIDA_VISIT.xlsx
app/config/tables/MIFSES/forms/MIFSES/~$MIFSES.xlsx
app/config/tables/MIFVISIT_CORE/forms/MIFVISIT_CORE/~$MIFVISIT_CORE.xlsx
app/config/tables/MIFSCAR/forms/MIFSCAR/~$MIFSCAR.xlsx

app/config/assets/csv/CRIANCA.init.csv

app/config/assets/csv/CRIANCA.oio17.csv

app/config/assets/csv/MIF.oio17.csv


app/config/assets/csv/MIF.init1.csv
app/config/assets/csv/MIF.bio.csv
app/config/assets/csv/CRIANCA.bio.csv
app/config/assets/csv/CRIANCA.bio1.csv
app/config/assets/csv/CRIANCA.bio10.csv
app/config/assets/csv/CRIANCA.bio11.csv
app/config/assets/csv/CRIANCA.bio12.csv
app/config/assets/csv/CRIANCA.bio13.csv
app/config/assets/csv/CRIANCA.bio14.csv
app/config/assets/csv/CRIANCA.bio15.csv
app/config/assets/csv/CRIANCA.bio16.csv
app/config/assets/csv/CRIANCA.bio17.csv
app/config/assets/csv/CRIANCA.bio18.csv
app/config/assets/csv/CRIANCA.bio19.csv
app/config/assets/csv/CRIANCA.bio2.csv
app/config/assets/csv/CRIANCA.bio20.csv
app/config/assets/csv/CRIANCA.bio21.csv
app/config/assets/csv/CRIANCA.bio22.csv
app/config/assets/csv/CRIANCA.bio23.csv
app/config/assets/csv/CRIANCA.bio24.csv
app/config/assets/csv/CRIANCA.bio25.csv
app/config/assets/csv/CRIANCA.bio26.csv
app/config/assets/csv/CRIANCA.bio3.csv
app/config/assets/csv/CRIANCA.bio4.csv
app/config/assets/csv/CRIANCA.bio5.csv
app/config/assets/csv/CRIANCA.bio6.csv
app/config/assets/csv/CRIANCA.bio7.csv
app/config/assets/csv/CRIANCA.bio8.csv
app/config/assets/csv/CRIANCA.bio9.csv
app/config/assets/csv/MIF.bio1.csv
app/config/assets/csv/MIF.bio10.csv
app/config/assets/csv/MIF.bio11.csv
app/config/assets/csv/MIF.bio12.csv
app/config/assets/csv/MIF.bio13.csv
app/config/assets/csv/MIF.bio14.csv
app/config/assets/csv/MIF.bio15.csv
app/config/assets/csv/MIF.bio16.csv
app/config/assets/csv/MIF.bio17.csv
app/config/assets/csv/MIF.bio18.csv
app/config/assets/csv/MIF.bio19.csv
app/config/assets/csv/MIF.bio2.csv
app/config/assets/csv/MIF.bio20.csv
app/config/assets/csv/MIF.bio21.csv
app/config/assets/csv/MIF.bio22.csv
app/config/assets/csv/MIF.bio23.csv
app/config/assets/csv/MIF.bio24.csv
app/config/assets/csv/MIF.bio25.csv
app/config/assets/csv/MIF.bio26.csv
app/config/assets/csv/MIF.bio3.csv
app/config/assets/csv/MIF.bio4.csv
app/config/assets/csv/MIF.bio5.csv
app/config/assets/csv/MIF.bio6.csv
app/config/assets/csv/MIF.bio7.csv
app/config/assets/csv/MIF.bio8.csv
app/config/assets/csv/MIF.bio9.csv
app/config/assets/csv/CRIANCA.gab.csv
app/config/assets/csv/CRIANCA.gab16.csv
app/config/assets/csv/CRIANCA.gab8.csv
app/config/assets/csv/CRIANCA.gab9.csv
app/config/assets/csv/MIF.gab.csv
app/config/assets/csv/MIF.gab16.csv
app/config/assets/csv/MIF.gab8.csv
app/config/assets/csv/MIF.gab9.csv
